---
import MainLayout from '../layouts/MainLayout.astro';
import speciesData from '../data/species.json';
---

<MainLayout title="MycoPedia" description="The ultimate mushroom reference">
  <div class="container my-5">
    <h1 class="mb-4 text-center">MycoPedia</h1>
    <p class="lead text-center">Comprehensive knowledge base of mushrooms.</p>
    <div class="row row-cols-1 row-cols-md-2 g-4">
      {speciesData.map((sp) => (
        <div class="col" key={sp.slug}>
          <div class="card h-100 bg-dark text-white">
            <div class="card-body">
              <h5 class="card-title">{sp.common_name}</h5>
              <p class="card-text fst-italic">{sp.scientific_name}</p>
              <p class="card-text">{sp.description}</p>
              <a href={`/species/${sp.slug}`} class="btn btn-primary btn-sm">Read More</a>
            </div>
          </div>
        </div>
      ))}
    </div>
  </div>
</MainLayout>
